<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-item_link" href="../">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" href="/agregar">agregar</a>
        </li>
        <li class = "nav-item">
          <form class="" action="/buscar" method="GET">
<input type="search" name="query" placeholder="Buscar">
<input type="submit"  value="Buscar">
        </form>
      </li>
    </ul>

</nav>
