<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-  include("pages/partials/nav")   %>
    <h1>Este es messi <3</h1>
    <img src="images/messi.jpg" alt="">
  </body>
</html>
