<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title></title>
  </head>
  <body>
    <%-  include("../pages/partials/nav")   %>
<h1>Este es Neymar JR </h1>
<img src="./images/neymar.jpg" alt="">
  </body>
</html>
